body {
  display: flex;
  justify-content: center;
  font-family: roboto;
  background-color: rgb(19, 129, 123);
}

.calculator__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-size: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 129, 123);
  font-weight: 600;

}

.calculator {
  background-color: white;
  height: 500px;
  width: 336.57px;
  
}


.calculator__display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  background-color: rgb(19, 129, 123);
  border-left: 16px solid white;
  border-right: 16px solid white;
  padding: 6px;
  color: white;
  font-size: 20px;
}

.calculator__display__buttom {
  text-align: right;
  font-size: 30px;
  font-weight: 500;

}

.calculator__buttons {
  display: grid;
  grid-template: 'clear clear clear divide'
'seven eigth nine multiply'
'four five six minus'
'one two three plus'
'zero decimal equal plus' ;
  margin: 16px 16px 0px 16px;
  
  height: 69%;
  row-gap: 1px;
  column-gap: 1px;
}

button {
  border: none;
  background-color: rgb(19, 129, 123);
  color: white;

}

.number-button {
  transition: all 0.15s;
  cursor: pointer;
  font-size: 24px;
}

.number-button:hover {
  background-color: rgb(34, 166, 140);
  
}



.operator-button {
  background-color: rgb(25, 80, 76);
  transition: all 0.15s;
  cursor: pointer;
  font-size: 24px;
}

.operator-button:hover{
  background-color: rgb(12, 48, 45);

}

.add {
  grid-row: span 2;
}

.clear-button {
  grid-column: span 3;
  background-color: rgb(225, 69, 69);
  cursor: pointer;
  transition: all 0.15s;
  font-size: 24px;
}

.clear-button:hover {
  background-color: rgb(193, 56, 56);
}

.footer {
  background-color: white;
margin-top: -3px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  color: rgb(19, 129, 123)
}

.em {
  font-style:normal;
  color: rgb(25, 80, 76);
  cursor: pointer;
}








